In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
##import API key
from config import g_key
#from IPython.display import display

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kvitok,56.0724,98.4813,-4.00,98,38,4.94,RU,2022-01-08 12:06:57
1,1,Clyde,41.3042,-82.9752,16.21,82,52,11.03,US,2022-01-08 12:06:58
2,2,Souillac,-20.5167,57.5167,82.36,76,100,0.85,MU,2022-01-08 12:06:58
3,3,Mataura,-46.1927,168.8643,57.47,83,94,2.42,NZ,2022-01-08 12:06:59
4,4,Qaqortoq,60.7167,-46.0333,12.70,84,2,5.75,GL,2022-01-08 12:06:59

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Google API Key
#g_key ="your Google API key goes here"
#g_key
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
#locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights = max_temp)
# Add the heatmap layer.
#fig.add_layer(heat_layer)
# Call the figure to plot the data.
#fig

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = ["Lat", "Lng"]

# 2. Assign the weights variable to some values.
#temperatures =  # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

#heatmap_layer = gmaps.heatmap_layer(locations, weights = temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [7]:
# Get the latitude and longitude.
#locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
   # temps.append(max(temp, 0))
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights = temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    #print(temps)
city_data_df
print(g_key)
#print(api_key)

AIzaSyBA9uvzoku7976lyRUAxmDI9KVr2pDdl_U

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.

locations = city_data_df[["Lat","Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
gmaps.configure(api_key=g_key)
print(type(30.2690717))
new_york_coordinates = (30.2690717, 77.9910673)
gmaps.figure(center=new_york_coordinates, zoom_level=17)

<class 'float'>

Figure(layout=FigureLayout(height='420px'))

In [11]:
#for temp in max_temp:
   # temps.append(max(temp, 0))
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

In [12]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
wind = city_data_df["Wind Speed"]
weights=wind

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Souillac,-20.5167,57.5167,82.36,76,100,0.85,MU,2022-01-08 12:06:58
12,12,Pout,14.7739,-17.0603,84.96,14,0,12.66,SN,2022-01-08 12:07:02
15,15,Rikitea,-23.1203,-134.9692,77.52,78,100,20.11,PF,2022-01-08 12:04:19
16,16,Nelson Bay,-32.7167,152.1500,75.96,88,35,1.01,AU,2022-01-08 12:07:03
22,22,Belmopan,17.2500,-88.7667,75.29,97,80,1.52,BZ,2022-01-08 12:02:49
23,23,Daru,-9.0763,143.2092,76.98,90,92,7.02,PG,2022-01-08 12:07:05
24,24,Port Alfred,-33.5906,26.8910,76.77,81,66,21.56,ZA,2022-01-08 12:07:05
27,27,Pailon,-17.6500,-62.7500,82.08,79,59,3.96,BO,2022-01-08 12:07:06
40,40,Bredasdorp,-34.5322,20.0403,79.72,62,19,21.16,ZA,2022-01-08 12:07:10
46,46,Sokoni,-6.4333,39.5500,83.59,73,62,14.90,TZ,2022-01-08 12:08:12

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2      Souillac      MU     82.36 -20.5167   57.5167
12         Pout      SN     84.96  14.7739  -17.0603
15      Rikitea      PF     77.52 -23.1203 -134.9692
16   Nelson Bay      AU     75.96 -32.7167  152.1500
22     Belmopan      BZ     75.29  17.2500  -88.7667
23         Daru      PG     76.98  -9.0763  143.2092
24  Port Alfred      ZA     76.77 -33.5906   26.8910
27       Pailon      BO     82.08 -17.6500  -62.7500
40   Bredasdorp      ZA     79.72 -34.5322   20.0403
46       Sokoni      TZ     83.59  -6.4333   39.5500